[Unit]
Description=Elasticsearch
Documentation=https://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
ExecStart=/opt/elasticsearch-8.15.3/bin/elasticsearch
Restart=on-failure
RestartSec=5s
LimitNOFILE=65535
Environment=JAVA_HOME=/home/ubuntu/.sdkman/candidates/java/current/bin/java

[Install]
WantedBy=multi-user.target